$primary: #F7A637;
$secondary: #fce7cf;
$tertiary: #FFF7F0;

$accent: #FFD4A8;
$accent-light: #FFFAF5;

$gray: #787878;
$gray-light: #e6edef;
$gray-lighter: #f9f9f9;

$white: #FFFFFF;
$black: #000000;

$error: #E53935;
$success: #9CCC65;
$warning: #FFCC80;

$gradiant: linear-gradient(90deg, $accent, $primary);
