@use '../mixins/' as mixin;
@use '../base/colors' as color;

body {
    font-size: clamp(1.4rem, 2vw, 1.6rem);

    * {
        font-size: inherit;
        line-height: 2;
    }
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1;
    font-weight: 300;
    margin: 0 0 1rem;
    margin: 0 0;
    letter-spacing: .5px;
}

p,
ol,
ul {
    margin: 0 0;

    &:not(:last-of-type) {
        margin-bottom: 3rem;
    }
}

h1 {
    font-size: 3rem;
    font-size: clamp(3rem, 4vw, 3.4rem);
}
h2 {
    font-size: 2.6rem;
    font-size: clamp(2.6rem, 4vw, 3rem);
}
h3 {
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 2.5vw, 2.8rem);
}
h4 {
    font-size: 2rem;
    font-size: clamp(2.2rem, 2.5vw, 2.2rem);
}
h5 {
    font-size: 1.8rem;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
}

strong {
    font-weight: 500;
}
