@use '../mixins' as mixin;
@use '../base/colors' as color;

.image--cover,
.image--contain {
    width: 100%;
    height: 100%;
}   
.image--cover {
    object-fit: cover;
}
.image--contain {
    object-fit: contain;
}

.svg--primary {
    path {
        fill: color.$primary;
    }
}
.svg--white {
    path {
        fill: color.$white;
    }
}

picture {
    img {
        max-width: 100%;
        object-fit: contain;
    }
}

.flex--right {
    align-self: flex-end;
}

.text--large {
    font-size: clamp(1.8rem, 3vw, 2.2rem);
}

.text--secondary {
    color: color.$secondary;
}
.text--accent {
    color: color.$tertiary;
}

.heading--thin {
    font-weight: 300;
}
.heading--margin {
    margin: 0 0 2rem;
}
.heading--margin-top {
    margin: 2rem 0 0;
}
.heading--margin-big {
    margin: 0 0 4rem;
}