@use "../mixins/" as mixin;
@use "../base/colors" as color;

.main {
    @include mixin.breakpoint("max", "tablet") {
        padding-bottom: 5rem;
    }
    @include mixin.breakpoint("min", "tablet") {
        padding-left: 4.8rem;
        padding-top: 0;
    }
}
