@use "../mixins/" as mixin;
@use "../base/colors" as color;

#app {
    padding-top: 50px;

    @include mixin.breakpoint("min", "tablet") {
        padding-left: 50px;
        padding-top: 0px;
    }
}

.grid__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    gap: 50px;
    max-width: 1600px;

    fieldset {
        flex: 0 0 calc(50% - 50px);
        max-width: calc(50% - 50px);
        padding: 0px 15px;
        margin-bottom: 50px;

        .form__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: unset;
            gap: unset;
            margin: 0px -15px;

            .field {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0px 15px;
            }
        }
        h3 {
            font-size: 18px;
            font-weight: 500;
        }
        .dropdown {
            position: relative;
            select {
                width: 100%;
                border: 0px;
                padding-right: 25px;
            }
        }
        &.notes {
            border: 0px;

            textarea {
                border: 0;
                margin-top: 20px;
                background: color.$grey-lighter;
                padding: 10px;
            }
        }
        &.full-width {
            flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);
        }
        @include mixin.breakpoint("min", "tablet") {
            .field-alt,
            .form__row-alt {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                > label {
                    flex: 0 0 25%;
                    font-weight: 400;
                    font-size: 15px;
                    color: #000;
                }
                > input,
                > .field__row,
                > .dropdown {
                    flex: 0 0 75%;
                }
            }
            &.notes {
                label {
                    font-weight: 400;
                    font-size: 15px;
                    color: color.$black;
                }
            }
        }
        * {
            box-sizing: border-box;
        }
        .current__logo {
            max-width: 200px;
            height: auto;
            margin-bottom: 50px;
            border: 1px solid #000;
            padding: 25px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .dropzone {
            border: 3px dashed color.$accent;
            button {
                span {
                    display: inline-flex;
                    padding: 5px 20px;
                    border: 1px solid color.$primary;
                    margin-bottom: 20px;
                    transition: background-color 0.4s ease;
                    border-radius: 50px;
                    &:hover {
                        background: color.$primary;
                        color: #fff;
                    }
                }
            }
        }
    }
    @include mixin.breakpoint("max", "laptop") {
        gap: 0;

        fieldset,
        fieldset.full-width {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.page__wrapper {
    padding-bottom: 100px;

    .ButtonGroup {
        width: 100%;
        padding: 20px 50px;
        bottom: 50px;
        left: 0px;
        display: flex;
        justify-content: flex-end;

        @include mixin.breakpoint("min", "tablet") {
            left: 50px;
            width: calc(100% - 50px);
            bottom: 0;
            position: fixed;
            background: color.$grey-lighter;
        }
    }
    .header__bar {
        @include mixin.flex($justify-content: space-between);
        margin-bottom: 30px;

        .buttons {
            margin-left: auto;
        }
    }
}

.mainContent {
    padding: 20px;

    @include mixin.breakpoint("min", "tablet") {
        padding: 50px;
    }
}

.page-details {
    p {
        margin-bottom: 33px;
    }
}

.select2 {
    max-width: 100%;
    .select2-selection {
        border-color: color.$primary;
        min-height: 40px;
        > span {
            min-height: 40px;
            line-height: 2.2 !important;
        }
        .select2-selection__arrow b {
            border-color: color.$accent transparent transparent transparent;
        }
    }
    &.select2-container--open {
        .select2-selection {
            .select2-selection__arrow b {
                border-color: transparent transparent color.$primary transparent;
            }
        }
    }
}
.select2-results {
    ul {
        width: 100%;
        .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: color.$accent;
            color: #000;
        }
    }
}

.items__view,
.items__head {
    list-style-type: none;
    padding: 0;
    width: 100%;

    .item {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        align-items: center;
        font-weight: 300;
        .item__content {
            flex: 0 0 40%;
            max-width: 40%;
            h3 {
                font-size: 18px;
                margin: 0px;
                &:hover {
                    color: color.$primary;
                }
            }
        }
        .item__summary {
            flex: 0 0 55%;
            max-width: 55%;
            display: flex;
            flex-wrap: wrap;

            > div {
                flex: 1;
            }
        }
        .item__actions {
            flex: 0 0 5%;
            max-width: 5%;
            text-align: center;
            position: relative;
            min-height: 40px;

            .actions__button {
                position: absolute;
                margin: 0px auto;
                top: 0px;
                right: 0px;
                display: flex;
                flex-direction: row-reverse;

                .icon {
                    width: 40px;
                    height: 40px;
                    // background:color.$accent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    position: relative;
                    transition: all 0.4s ease;
                    cursor: pointer;
                }
                .actions__group {
                    position: relative;
                    top: 0px;
                    display: flex;
                    height: 40px;
                    right: 10px;
                    align-items: center;
                    background: color.$accent;
                    padding: 10px;
                    border-radius: 50px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.4s ease;
                    transform: translatex(10%);

                    a {
                        font-size: 11px;
                        padding: 5px;

                        &:hover {
                            color: color.$primary;
                        }
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    .icon {
                        background: color.$primary;
                    }
                    .actions__group {
                        visibility: visible;
                        opacity: 1;
                        transform: translatex(0);
                    }
                }
            }
        }
        &:nth-child(even) {
            background: color.$grey-lighter;
        }
        @include mixin.breakpoint("min", "laptop") {
            .item__summary {
                .field {
                    label {
                        display: none;
                    }
                }
            }
        }

        @include mixin.breakpoint("max", "tablet") {
            border: 1px solid color.$grey-lighter;
            position: relative;
            padding: 20px;
            .item__content,
            .item__summary {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .item__summary {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .item__summary {
                margin-top: 25px;
                > div {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 20px;
                }
            }
            .item__actions {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
    &.items__head {
        background: color.$accent;
        border-radius: 12px;
        margin-bottom: 20px;

        .item {
            font-weight: 400;
        }

        .item__actions {
            min-height: 0px;
        }

        @include mixin.breakpoint("max", "tablet") {
            display: none;
        }
    }
}


.item--thrashed {
    .item__content,
    .item__summary {
        opacity: .2;
    }
}
