@use 'namespaces/primary_colors';
@use 'namespaces/secondary_colors';

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;

    .formBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
}

.is-invalid {
    border: 1px solid red;
    color: red;
}

.is-invalid::placeholder {
    color: red;
}

.error-message {
    padding: 0 !important;
    margin: 0 !important;
    color: red;
}
