@use 'namespaces/primary_colors';
@use 'namespaces/secondary_colors';


// PROJECTS FORM

.formContainer-projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: auto;

    .formBlock-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
        align-items: center;
        gap: 10px;
    }
}

// COMPANIES FORM

.formContainer-companies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .formBlock-companies {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.is-invalid {
    border: 1px solid red;
    color: red;
}

.is-invalid::placeholder {
    color: red;
}

.error-message {
    padding: 0 !important;
    margin: 0 !important;
    color: red;
}
