@use 'namespaces/primary_colors';
@use 'namespaces/secondary_colors';


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    min-height: 100vh;
    background-color: primary_colors.$page-background;
}

.detailsButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    
}
