@use 'namespaces/colors';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    width: 100%;
    min-height: 100vh;
    background-color: colors.$page-background;
}