@use "../mixins" as mixin;
@use "../base/colors" as color;

.header__bar {
    @include mixin.flex($justify-content: space-between);
    margin-bottom: 1rem;

    .bar__buttons {
        @include mixin.flex($align-items: center);
        margin-left: auto;
        gap: 1rem;
    }
}
