@use "../mixins" as mixin;
@use "../base/colors" as color;

.button {
    @include mixin.flex($flex: inline-flex, $align-items: center, $justify-content: center);
    font-size: 1rem;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    letter-spacing: 1px;
    height: 4rem;
    padding: 0 2rem;
    transition: background-color .25s linear;
    border-radius: 4rem;
    min-width: 15rem;
}
.button__solid--primary {
    background-color: color.$primary;
    color: color.$white;

    &:hover,
    &:focus,
    &:active {
        background-color: darken(color.$primary, 10);
    }
}

.button--action {
    background: color.$gradiant;
    color: color.$white;
}

.button__box {
    @include mixin.flex;
    margin-top: 5rem;
}
