@use "../mixins" as mixin;
@use '../base/colors' as color;

.navigation--row {
    @include mixin.flex($dynamic-direction-breakpoint: 'laptop');
    gap: 2rem;
    
    .navigation__link {
        color: color.$black; 
        font-size: 1.2rem;
        font-size: clamp(1.4rem, 3vw, 1.6rem);   
    }

    li {
        list-style: none;
    }

    @include mixin.breakpoint('min', 'tablet') {
        gap: 4rem;
    }
}