$font-primary: 'raleway';

$fonts: (
    'raleway': $font-primary,
) !default;

$font-fallback: Helvetica, Arial, sans-serif;

@mixin font-family($font,	$weight: 400) {
  @if map-has-key($fonts, $font) {
    font-family: map-get($fonts, $font), #{$font-fallback};
  } @else {
    font-family: $font-fallback;
  }

	font-weight: $weight;
}
